.main-container {
    scroll-behavior: smooth;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  section {
    min-height: 100vh; /* Full screen height */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    box-sizing: border-box;
  }
  